
.card{
    position: relative;
}

 .image_overlay:hover{
    opacity: 1;
}
 .image_overlay:hover > * {
    transform: translateY(20px);
    transition: .25s;
}

image_title{
    font-size: 2em;
    font-weight: bold;
}
image_description{
    font-size: 1.25em;
    margin-top: .25em;
}  