.card{
    justify-content: center;
    border-radius: 3px;
    box-shadow: .2px 4px 5px black;
    position: relative;
    overflow: hidden;
    align-items: center;
}
.movie-info{
   text-align: center;
   letter-spacing: .5;
   justify-content: space-between;
   
}

